{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2>Create an account</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <p><span>*</span> : mandatory field</p>

    {{ form_start(registerForm, {'attr': {'id': 'registerForm'}}) }}
    {{ form_end(registerForm) }}


    <div class="div_parent_button">
        <div class="div_button div_button_center">
            <button class="btn btn_too_width" onclick="document.getElementById('registerForm').submit();">Save account</button>
        </div>
        <div class="div_button div_button_center">
            <button onclick="window.location.href='{{ path('app_login') }}'" class="btn_href btn_too_width">Back to connexion</button>
        </div>
    </div>
{% endblock %}
