{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>My account</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <p><span>*</span> : mandatory field</p>

    {{ form_start(myAccountForm) }}
    {{ form_end(myAccountForm) }}

    <br>
    <form method="post" action="{{ path('app_delete_account') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Supprimer le compte</button>
    </form>

{% endblock %}
