<form method="POST" action="{{ path('app_rancking_create', {'id': event.id}) }}">

<p> * Season : <input type="text" name="season" value="{{ formData['season']|default('') }}"></p>

<table class="table">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Rank</th>
            <th>Points</th>
            <th>Kills</th>
        </tr>
    </thead>
    <tbody>
    {% for pseudo in pseudoList %}
        <tr>
            <td>
                <input type="text" name="pseudo_{{ loop.index }}" value="{{ pseudo }}" readonly>
            </td>
            <td>
                <input type="number" name="rank_{{ loop.index }}" value="{{ formData['rank_' ~ loop.index]|default('') }}" required>
            </td>
            <td>
                <input type="number" name="points_{{ loop.index }}" value="{{ points[loop.index]|default(formData['points_' ~ loop.index]|default(0)) }}" readonly>
            </td>
            <td>
                <input type="number" name="kills_{{ loop.index }}" value="{{ formData['kills_' ~ loop.index]|default('') }}" required>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="submit" name="calculate" value="Calculates points" class="btn"/>
<input type="submit" name="save" value="Save" class="btn"/>

</form>
