<form method="POST" action="{{ path('app_rancking_create', {'id': event.id}) }}" id="ranking">

<p> * Season : <input type="text" name="season"></p>

<table class="table">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Rank</th>
            <th>Points</th>
            <th>Kills</th>
            <th>Eliminated by</th>
        </tr>
    </thead>
    <tbody>
    {% for pseudo in pseudoList %}
        <tr>
            <td>
                <input type="text" name="pseudo_{{ loop.index }}" value="{{ pseudo }}" readonly>
            </td>
            <td>
                <input type="number" name="rank_{{ loop.index }}" required>
            </td>
            <td>
                <input type="number" name="points_{{ loop.index }}" value="0" readonly>
            </td>
            <td>
                <input type="number" name="kills_{{ loop.index }}" required>
            </td>
            <td>
                <select name="eliminated_by_{{ loop.index }}" required>
                    <option>none player</option>
                    {% for pseudo in pseudoList %}
                        <option value="{{ pseudo }}">{{ pseudo }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="submit" value="Save" class="btn"/>

</form>
