{% extends 'base.html.twig' %}

{% block title %}All Rankings{% endblock %}

{% block body %}
    <h1>ALL RANKINGS</h1>
    <div class="right_button">
        <a href="{{ path('app_rancking_view_general') }}" class="btn_href">View general Ranking</a>
    </div>
    </br>
    </br>
        <table>
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Closing date</th>
                    <th>Place</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td class="rounded_left">
                        {{ event.label }}
                    </td>
                    <td>
                        {{ event.finishDate | date('d/m/Y') }}
                    </td>
                    <td>
                        {{ event.place.name }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('app_rancking_create', {'id': event.id}) }}" class="blue_link">Create ranking</a>
                        </td>
                    {% endif %}
                    <td class="rounded_right">
                        <a href="{{ path('app_rancking_view', {'id': event.id}) }}" class="red_link">View ranking</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="rounded_all">no rankings found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
