{% extends 'base.html.twig' %}

{% block title %}View Ranking{% endblock %}

{% block body %}
    <h1>RANKING DETAILS : {{ event.label }}</h1>

        <table>
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>RankingPosition</th>
                    <th>Points</th>
                    <th>KillsNumber</th>
                </tr>
            </thead>
            <tbody>
            {% for rancking in ranckings %}
                <tr>
                    <td class="rounded_left">{{ rancking.getUser().getPseudo() }}</td>
                    <td>{{ rancking.rankingPosition }}</td>
                    <td>{{ rancking.points }}</td>
                    <td class="rounded_right">{{ rancking.killsNumber }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="rounded_all">no ranking found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('rancking/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
