{% extends 'base.html.twig' %}

{% block title %}View Ranking{% endblock %}

{% block body %}
    <h2>View Ranking</h2>

    <div class="table_div">
        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>RankingPosition</th>
                    <th>Points</th>
                    <th>KillsNumber</th>
                </tr>
            </thead>
            <tbody>
            {% for rancking in ranckings %}
                <tr>
                    <td>{{ rancking.getUser().getPseudo() }}</td>
                    <td>{{ rancking.rankingPosition }}</td>
                    <td>{{ rancking.points }}</td>
                    <td>{{ rancking.killsNumber }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no ranking found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ include('rancking/_delete_form.html.twig') }}
{% endblock %}
