{% extends 'base.html.twig' %}

{% block title %}View general Ranking{% endblock %}

{% block body %}
    <h1>VIEW GENERAL RANKING</h1>

        <table>
            <thead>
                <tr>
                    <th>Pseudo</th>
                    {% for event in events %}
                        <th>{{ event.label }}</th>
                    {% endfor %}
                    <th>Total Points</th>
                    <th>Total Kills</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ranking %}
                    <tr>
                        <td class="rounded_left">{{ item.pseudo }}</td>
                        {% for event in events %}
                            <td>{{ item.pointsPerEvent[event.id] }}</td>
                        {% endfor %}
                        <td>{{ item.totalPoints }}</td>
                        <td class="rounded_right">{{ item.totalKills }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
