{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>NEW PASSWORD</h1>

    <div id="div_form">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <p class="p_mandatory"><span class="span_mandatory">*</span> : mandatory field</p>

        {{ form_start(resetPasswordForm, {'attr': {'id': 'resetPasswordForm'}}) }}

            {{ form_label(resetPasswordForm.plainPassword) }}
            {{ form_widget(resetPasswordForm.plainPassword, {'attr': {'class': 'form_input'}}) }}
            {{ form_errors(resetPasswordForm.plainPassword, {'attr': {'class': 'form_errors'}}) }}

            {{ form_label(resetPasswordForm.confirmPassword) }}
            {{ form_widget(resetPasswordForm.confirmPassword, {'attr': {'class': 'form_input'}}) }}
            {{ form_errors(resetPasswordForm.confirmPassword, {'attr': {'class': 'form_errors'}}) }}

        {{ form_end(resetPasswordForm) }}
    </div>

    <div class="div_button_center div_one_width">
        <button class="btn btn_one_width" onclick="document.getElementById('resetPasswordForm').submit();">Reinitialize</button>
    </div>
{% endblock %}
