{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Forgot your password ?</h1>

        <p>Please enter the pseudo you used to create your account</p>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <p><span>*</span> : mandatory field</p>

        {{ form_start(resetPasswordForm) }}
        {{ form_end(resetPasswordForm) }}

        <a href="{{ path('app_login') }}" class="btn btn-primary">Back to connexion</a>
    </div>
{% endblock %}
