<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="header">
                <div id="poking">
                    <img src="{{ asset('images/poking.svg') }}" alt="Logo PoKing Club">
                </div>
            </div>
            {% if app.user %}
                <ul id="nav_list">
                    <li>
                        <a href={{ path('app_my_account') }} class="{% if app.request.attributes.get('_route') == 'app_my_account' %}active{% endif %}">My_Account</a>
                    </li>
                    <li>
                        <a href="{{ path('app_event_listing') }}" class="{% if app.request.attributes.get('_route') in ['app_event_listing', 'app_event_create', 'app_event_view', 'app_event_update'] %}active{% endif %}">Events</a>
                    </li>
                    <li>
                        <a href="{{ path('app_rancking_listing') }}" class="{% if app.request.attributes.get('_route') in ['app_rancking_listing', 'app_rancking_view_general', 'app_rancking_view', 'app_rancking_create'] %}active{% endif %}">Rankings</a>
                    </li>
                    <li>
                        <a href="{{ path('app_statistics') }}" class="{% if app.request.attributes.get('_route') == 'app_statistics' %}active{% endif %}">Statistics</a>
                    </li>
                    <li class="right_navbar">
                        <a href={{ path('app_logout') }}>Log Out</a>
                    </li>
                </ul>
            {% endif %}
        </header>
        <main>
            <style>
                .wrapper { margin: 1em auto; max-width: 1200px; font: 18px/1.5 sans-serif; }
            </style>
            <div class="wrapper">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div id="footer_parent">
                <div class="footer_child">
                    <p class="footer_p">PoKing club</p>
                    <p class="footer_p">107 Rue de Babylone,</p>
                    <p class="footer_p">Villeneuve-d'Ascq 59650</p>
                </div>
                <div class="footer_child">
                    <h1>
                        <p class="footer_p">Find us :</p>
                    </h1>
                    <p class="footer_p">
                        <a href="{{ path('app_contact_us') }}" class="{% if app.request.attributes.get('_route') == 'app_contact_us' %}active{% endif %}">Contact us</a>
                    </p>
                </div>
                <div class="footer_child">
                    <h1>
                        <p class="footer_p">More information :</p>
                    </h1>
                    <p class="footer_p">
                        <a href="{{ path('app_legals_mentions') }}" class="{% if app.request.attributes.get('_route') == 'app_legals_mentions' %}active{% endif %}">Legal Mentions</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
