{% extends 'base.html.twig' %}

{% block title %}All Events{% endblock %}

{% block body %}
    {% set today = "now"|date("Ymd") %}
    {% set currentTime = "now"|date("H:i") %}

    <h1>ALL EVENTS</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="right_button">
            <a href="{{ path('app_event_create') }}" class="btn_href">Create new</a>
        </div>
    {% endif %}
    </br>
    </br>
        <table>
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Registration opening date</th>
                    <th>Registration closing date</th>
                    <th>Stack</th>
                    <th>Registration status</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th colspan="2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                {% set registrationOpeningDate = event.registrationOpeningDate|date('Ymd') %}
                {% set registrationOpeningTime = event.registrationOpeningTime|date("H:i") %}
                {% set registrationClosingDate = event.registrationClosingDate|date('Ymd') %}
                {% set registrationClosingTime = event.registrationClosingTime|date("H:i") %}
                <tr>
                    <td class="rounded_left">
                        <a href="{{ path('app_event_view', {'id': event.id}) }}">{{ event.label }}</a>
                    </td>
                    <td>
                        {{ event.registrationOpeningDate ? event.registrationOpeningDate|date('d/m/Y') : '' }}
                    </td>
                    <td>
                        {{ event.registrationClosingDate ? event.registrationClosingDate|date('d/m/Y') : '' }}
                    </td>
                    <td>
                        {{ event.stack }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if today < registrationOpeningDate %}
                            <td>not opened</td>
                        {% elseif today == registrationOpeningDate %}
                            {% if currentTime < registrationOpeningTime %}
                                <td>not opened</td>
                            {% else %}
                                <td>current</td>
                            {% endif %}
                        {% elseif today > registrationOpeningDate and today < registrationClosingDate %}
                            <td>current</td>
                        {% elseif today == registrationClosingDate %}
                            {% if currentTime < registrationClosingTime %}
                                <td>current</td>
                            {% else %}
                                <td>closed</td>
                            {% endif %}
                        {% elseif today > registrationClosingDate %}
                            <td>closed</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('app_event_update', {'id': event.id}) }}" class="blue_link">Update</a>
                        </td>
                        <td class="rounded_right">
                            <a href="#" class="red_link" onclick="event.preventDefault(); document.querySelector('#delete-form-{{ event.id }} button').click();">
                                Delete
                            </a>
                            <span style="display: none;">{{ include('event/_delete_form.html.twig') }}</span>
                        </td>
                    {% else %}
                        {% if today < registrationOpeningDate %}
                            <td class="rounded_right">not opened</td>
                        {% elseif today == registrationOpeningDate %}
                            {% if currentTime < registrationOpeningTime %}
                                <td class="rounded_right">not opened</td>
                            {% else %}
                                <td class="rounded_right">current</td>
                            {% endif %}
                        {% elseif today > registrationOpeningDate and today < registrationClosingDate %}
                            <td>current</td>
                        {% elseif today == registrationClosingDate %}
                            {% if currentTime < registrationClosingTime %}
                                <td class="rounded_right">current</td>
                            {% else %}
                                <td class="rounded_right">closed</td>
                            {% endif %}
                        {% elseif today > registrationClosingDate %}
                            <td class="rounded_right">closed</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="rounded_all">no events found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
